# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\javaverktyg o bygg labb2\Test with LIFOStack\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
